<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TV Show Library</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'shows/css/style.css' %}" />
    </head>
    <body>
        <div id="wrapper">
            <a href="/TVShowLibrary/shows">Back to Show Listing</a>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li
                    {% if message.tags %}
                    class="{{ message.tags }}"
                    {% endif %}
                >
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div id="activities">
                <div>
                    <h1>Edit a Show</h1>
                    <form
                        action="../{{thisshow.id}}/update"
                        method="POST"
                    >
                        {% csrf_token %}
                        <label>
                            Title
                            <input type="text" name="title" value="{{thisshow.title}}" />
                        </label>
                        <br />
                        <label>
                            Network
                            <input type="text" name="network" value="{{thisshow.network}}"/>
                        </label>
                        <label>
                            Release Date
                            <input type="date" name="date" value="{{datesample}}"/>
                        </label>
                        <br />
                        <label>
                            Description
                            <br />
                            <textarea rows="3" cols="35" name="desc">{{thisshow.desc}}</textarea>
                        </label>
                        <br />
                        <button type="submit">Update</button>
                    </form>
                </div>
                <a href="../{{thisshow.id}}">Go to Show</a>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
